*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;
    line-height: 1;
    font-size: 14px;
    font-family: Rubik;
    font-weight: 400;
    color: #404040;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box; /*padding не входить до загальної ширини*/
}

._ibg{
    position: relative;
}

._ibg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/*-----------------------------header---------------------------------------------*/
.header{
position: absolute;
width: 100%;
left: 0;
top:0;
z-index: 50;
}

.header__container{
   position: relative;
    display: flex;
    min-height: 143px;
    align-items: center;
}

.navbar{
    width: 100%;
    position: relative;
}

.menu__item{
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.menu__link{
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #FEFEFE;
}

nav-item{
    display: flex;
    align-items: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
    height: 100%;
    padding-right: 0%;
    padding-left: 0%;
    padding: 0%;
    align-items: center;
    display: flex;
}


.nav-link{
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
}

.dropdown-toggle::after {
    content: url(../img/icons/Arrow-Down.svg);
    border: 0;
    padding: 0 0 5px 5px;
    margin-left: 0;
    vertical-align: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #FEFEFE;
}

.navbar-toggler{
}

.header__logo{
    height: 63px;
    width: auto;
    margin-right: 40px;
}




.navbar-collapse {
    flex-grow:initial; 
}

@media screen and (max-width: 767px) {
    .menu__item{
        margin-right: 0;
    }
    .header__logo{
        display: none;
    }
    .menu__link, .nav-link{
        margin: 0 auto;
    }
    .dropdown, .dropend, .dropstart, .dropup {
        position: relative;
        display: flex;
    }
    .navbar-collapse {
        background: gainsboro;
    }
    .container-fluid{
        padding-right: 0;
        padding-left: 0;
        
    }
    /*.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
    }*/
    .navbar{
        padding-top: 0;
        padding-bottom: 0;
    }
    .header__container{
        padding: 0;
    }
    
}
/*-------------------------------------*/
.page{
    flex: 1 1 auto;
}


.footer{

}

.main-block{
    position: relative;
}

.main-block__body{
    padding: 258px 0 278px 0;
    width: 620px;
}

.main-block__title{
    font-weight: 400;
    font-size: 56px;
    line-height: 130%;
    color: #FEFEFE;
    margin-bottom: 25px;
}
.main-block__text{
    font-weight: 300;
    font-size: 18px;
    line-height: 130%;
    color: #FEFEFE;
    margin-bottom: 40px;
}

d-block{
    min-height: 900px;
}

.carousel{
    position: absolute;
    z-index: -1;
    width: 100%;
    min-height: 900px;
    top: 0;
    left: 0;
}
.main-block__button{
    background: #53A800;
    width: 242px;
    min-height: 63px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #FEFEFE;  
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-expand-lg .navbar-collapse {
       display: flex;
       flex-basis: auto;
   }   
   .navbar-toggler{
       display: none;
   }
   
   .navbar-collapse {
       width: 85%;
       display: flex;
       flex-direction: row;
   }
   .navbar-nav{
       width: 100%;
       flex-direction: row;
       margin: 0 auto;
       box-sizing: content-box;
       justify-content: center;
   }
   
   .menu__link, .nav-link{
       font-size: 16px;
   }

   .header__logo{
       margin-right: 30px;
   }

   .menu__item{
       margin-right: 30px;
   }
   .main-block__title{
       font-size: 36px;
       margin-bottom: 18px;
   }
   .main-block__text{
       font-size: 14px;
       margin-bottom: 28px;
   }
   .main-block__body{
    width: 418px;
    padding: 212px 0 278px 0;
    
    }
    .header__container{
        min-height: 100px;
    }

    .main-block__button{
        width: 220px;
        min-height: 61px;
        font-size: 14px;
    }
 }